.btn-primary {
    color: $bone;
    background-color: $dark-blue;
    border-color: $dark-blue;
    &:hover{
        background-color: $gold-80;
        border-color: transparent;
        color: $dark-blue;
    }
    &:active{
        background-color: $gold-80;
        border-color: transparent;
        color: $dark-blue;
    }
}

.button{
    &__green{
            background-color: green;
            border-color: green;
            color: $bone;
        &:hover{
            background-color: transparent;
            border-color: green;
            color: green;
        }
        &:active{
            background-color: transparent;
            border-color: green;
            color: green;
        }
    }

    &__red{
        background-color: transparent;
        border-color: transparent;
        color: red;
        &:hover{
            background-color: transparent;
            border-color: transparent;
            color: red;
            text-decoration: underline;
        }
        &:active{
            background-color: transparent;
            border-color: transparent;
            text-decoration: underline;
        }
    }

    &__transparent{
        background-color: transparent!important;
        border: 0px!important;
        color: $blue!important;
        &:hover{
            background-color: transparent!important;
            border: 0px!important;
            color: $blue!important;
        }
    }

    &__l-blue{
        background-color: $l-blue!important;
        border: 0px!important;
        color: $gold!important;
        &:hover{
            background-color: $gold!important;
            border: 0px!important;
            color: $l-blue!important;
        }
    }

    &__gold-no-bg{
        background-color: transparent!important;
        border: 0px!important;
        color: $gold!important;
        &:hover{
            background-color: transparent!important;
            border: 0px!important;
            color: $dark-blue!important;
        }
    }

    &__blue{
        background-color: $blue!important;
        border: 0px!important;
        color: $bone!important;
        &:hover{
            background-color: $bone!important;
            border: 0px!important;
            color: $blue!important;
        }
    }
}

.small-button{
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.delete-item{
    border-radius: 50%;
    right: 0rem;
    top: 0rem;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 0;
    color: black;
    background-color: transparent;
    border-color: transparent;
    transition: all 0.5s;
    &:hover{
        padding: 0;
        color: black;
        background-color: transparent;
        border-color: transparent;
        width: 35px!important;
        height: 35px!important;
        font-size: 35px!important;
    }
}

.icon{
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 40px;
}

.hidden{
    transition: all 0.5s;
    width: 0px;
    height: 0px;
    overflow: hidden;
    &.active{
        width: auto;
        height: auto;
    }
}