.evento{
    padding: 0.2rem 1rem;
    border: 0px;
    i{
        color: white
    }
}
.vacaciones{
    background-color: #388E3C;
}
.cumpleaños{
    color: #2171c1;
    background-color: #E1F0FF;
    border-color: #E1F0FF!important;
    i{
        color: #2171c1;
    } 
}
#calendar {
    float: right;
    width: 900px;
    color:red;
}