.HeaderTitle{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.HeaderTitle h3{
    font-weight: bold;
}

.HeaderContainer{
    padding-bottom: -1rem;
}

.HeaderContainer div div{
    display: flex;
    flex-direction: column;

}

.TagTitle {
    display: flex;
    justify-content: center;
    margin-left: 15%;
    width: 70%;
    background-color: #3A89C9;
    border-radius: 5px;
    color: white;
}

.headerSubTitle{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    width: 80%;
    background-color: #5bc0be;
    border-radius: 5px;
    color: white;
    padding: 2px 5px;
    
}

.alertColor{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    width: 80%;
    background-color: #f0ad4e;
    border-radius: 5px;
    color: white;
    padding: 2px 5px;
}

.costosColor{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    width: 80%;
    background-color: #e2711d;
    border-radius: 5px;
    color: white;
    padding: 2px 5px;
}

.infoColor{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    width: 80%;
    background-color: #1982c4;
    border-radius: 5px;
    color: white;
    padding: 2px 5px;
}

.alignContent{
    display: flex;
    justify-content: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.tabs-container{
    display: flex;
    justify-content: center;
    background-color: #1693A5;
    border-radius: 5px;
    max-width: fit-content;
    margin-right: 15%;
    margin-left: 3%;
    margin-top: 0.5rem;
    color: white;
    width: fit-content;
}

.fase:disabled{
    background-color: rgb(251, 249, 249);
}