.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.3rem + 2px);
    padding: 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #464E5F;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #E5EAEE;
    border-radius: 0.42rem;
}

.label-form {
    color: $dark-blue;
    font-size: 1rem;
}

.radio-group {
    .form-check {
        padding: 0.5rem 0 0.5rem 2rem;

        .form-check-label {
            color: $dark-blue;
            font-size: 1rem;
        }
    }
}

.react-datepicker-wrapper {
    width: 100%;
}

.image-upload input {
    display: none;
}

.image-upload svg {
    padding: 0.5rem 0.25rem 0.35rem;
    color: $dark-blue;
    font-size: calc(0.5rem + 30px);
    cursor: pointer;
}

.select-search {
    width: auto;
    position: relative;
    box-sizing: border-box;

    input {

        background-color: transparent;

        &::placeholder {
            color: $blue !important;
        }

        margin-bottom: 1rem;
        width: 100%;
        padding: 0.4rem;
    }

    select {
        display: none;
    }

    &__select {
        height: auto !important;

        &:not(.select-search__select--display) {
            display: none;
        }

        background: #fff;
        box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
        position: absolute;
        z-index: 2;
        top: 3.25rem;
        right: 0;
        left: 0;
        border-radius: 3px;
        overflow: auto;
        max-height: 250px !important;
    }

    &__options {
        margin-bottom: 0px;
        margin-block-start: 0px !important;
        padding-inline-start: 0px;
        list-style: none;
    }

    &__option {
        display: block;
        padding: 0.40rem 0.30rem;
        transition: all 0.5s;
        color: $dark-blue !important;

        &:hover {
            background-color: #fafafa !important;
        }

        &--selected {
            background-color: $white-dark-blue;
        }
    }

    &__row {
        &:not(:first-child) {
            border-top: 1px solid #eee;
        }
    }
}

.select-search *,
.select-search *::after,
.select-search *::before {
    box-sizing: inherit;
}

.select-search.is-disabled {
    opacity: 0.5;
}

.no-label {
    label {
        display: none;
    }
}

.button-hover {

    transition: all 0.5s;

    &:hover {
        cursor: pointer;

    }
}

.custom-select {
    margin-bottom: 0px !important;
    margin-right: 8px;
    margin-left: 8px;
}