$blue-plataforma: #2171c1;

// Colores
$dark-blue: #325693;
$blue: #7096c1;
$l-blue: #c7d0df;
$bone: #ecedef;
$gold: #b4a26d;
$gold-20: #b4a26d20;
$gold-40: #b4a26d40;
$gold-60: #b4a26d60;
$gold-80: #b4a26d80;
$bone-20: #ecedef20;
$bone-40: #ecedef40;
$bone-60: #ecedef60;
$bone-80: #ecedef80;
$dark-blue-20: #32569320;
$dark-blue-40: #32569340;
$dark-blue-60: #32569360;
$dark-blue-80: #32569380;
$blue-20: #7096c120;
$blue-40: #7096c140;
$blue-60: #7096c160;
$blue-80: #7096c180;
$l-blue-20: #c7d0df20;
$l-blue-40: #c7d0df40;
$l-blue-60: #c7d0df60;
$l-blue-80: #c7d0df80;

$white-bone: #fdfdfd;
$white-l-blue: #f9fafc;
$white-blue: #f2f5f9;
$white-dark-blue: #eceff5;
$white-gold: #f8f6f1;

$d-white-bone: #F8F8F9;
$d-white-l-blue: #eaedf3;
$d-white-blue: #cbd8e8;
$d-white-dark-blue: #b4c1d7;
$d-white-gold: #e3ddc9;

$black-bone: #161616;
$black-l-blue: #131315;
$black-blue: #0B0E12;
$black-dark-blue: #05080E;
$black-gold: #110F0A;

$l-black-bone: #565757;
$l-black-l-blue: #494c52;
$l-black-blue: #293747;
$l-black-dark-blue: #132036;
$l-black-gold: #423b28;

.hidden{
    transition: all 0.5s;
    width: 0px;
    height: 0px;
    overflow: hidden;
    &.active{
        width: auto;
        height: auto;
    }
}
//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;531;600;700;800;900&family=Oswald:wght@200;300;400;469;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

/*body {
    /* font-family: 'Inter'; 
    //font-family: 'Inter','Oswald'; 
}
.nav-full-height{

    /* height: calc(100vh  ); 
}*/
.symbol.symbol-light-success2 .symbol-label{
    background-color: #d1e3d7;  
}
body{
    text-transform: uppercase;
}

.border-nav{
    border: 3px solid #F3F6F9;
    padding: 1.75rem 1.5rem;
    border-top-left-radius: 0.42rem;
    border-top-right-radius: 0.42rem;
}

a.text-hover-danger2:hover, .text-hover-danger2:hover{
    color: #cc4b4c !important;
}

.pdfview{
    @include screen ($lg) {
        width: 275px;
        height: 418.984px;
    }
    @include screen ($xxl) {
        width: 468px;
        height: 418.984px;
    }
    width: 468px;
    height: 418.984px;
}

.pdfview-img{
    @include down-screen($xs){
        width: 18rem;
        height: auto;
    }
    width: 100%;
    height: auto;
    /* width: auto;
    max-height: 60%; */
}

@media screen and (max-width: 992px) {
    // @include down-screen($xs){
    //     width: 18rem;
    //     height: auto;
    // }
    #descarga, img, iframe {
        max-width:527px;
        max-height:527px;
    }

}

// .tagify__tag > div > * {
//     white-space: normal !important;
// }

.white-space{
    white-space: normal !important;
}

@media screen and (max-width: 992px) {
    .tagify__tag > div > * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: top;
        min-width: var(--tag--min-width);
        max-width: var(--tag--max-width);
        -webkit-transition: .8s ease,.1s color;
        transition: .8s ease,.1s color; 
    }

}

//Todos los calendarios
.react-datepicker-popper{
    z-index: 2;
}

//Usuarios/Empresa
.img-empresa{
    height: 4rem;
    width: auto;
    @include down-screen($md){
        height: 3rem;
    }
}

//Proyecto/Proyecto
.card-without-box-shadown {
    box-shadow: 0px 0px 0px 0px rgba(82, 63, 105, 0.05) !important;
}

//login
.bg-white-o-9 {
    background-color: rgba(255, 255, 255, 0.09) !important; 
}

//Estilo para ToggleButton usuarios/usuarios -> Permisos
.cczuaK input[type="checkbox"]:checked + label:after { 
    font-family: Ki;
    content: "";
    color: #ffffff;
    font-size: 0.65em;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    position: absolute;
    display: -webkit-box;
}
.cczuaK {
    color: #ffffff;
    width: 39px !important;
}

.cczuaK input[type="checkbox"] + label {
    border-radius: 5px !important;
    width: 0px !important;
}

.cczuaK input[type="checkbox"] + label:after{
    border-radius: inherit !important;
} 

.cczuaK input[type="checkbox"] + label:before {
    left: 0px !important;
    border-radius: 5px !important;
    width: 39px !important;
}

//Se quita el icono de los inputs
.sin_icono{
    background-image: none !important;
    padding-right: 0 !important;
}


.modal-dialog{
    &.modal-xl{
        @include screen($md){
            max-width: 85vw!important;
        }
    }
}
// Inicio: Tabla actualización de presupuestos
th.check_desc, th.clave, th.descripcion{
    @include screen ($lg) {
        width: 1px;
    }
    @include screen ($xxl) {
        width: 1px;
        padding: 4px;
    }
}

td.check_desc.text-center{
    @include screen ($lg) {
        padding-right: 0px;
    }
    @include screen ($xxl) {
        padding-right: 0px;
    }
}

td.clave.text-center{
    @include screen ($xxl) {
        min-width: 59px;
    }
}

td.descripcion.text-center{
    @include screen ($lg) {
        min-width: 500px;
    }
    @include screen ($xxl) {
        min-width: 1000px;
    }
}

// Fin: Tabla actualización de presupuestos

a#tabsAreas-tab-compras, a#tabsAreas-tab-ventas, a#tabsAreas-tab-egresos{
    @include down-screen($md){
        font-size: 11px;
    }  
}

//TABLA - PRESUPUESTO DISEÑO

td.dia, th.dia {
    width: 20px;
}
td.dia, th.dia{
    @include down-screen($md){
        width: 100px;
    }
}
td.concepto{
    text-align: justify;
}

#container {
    visibility: hidden;
}

#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

.tooltip-inner2 {
    font-size: 0.9rem!important;
}
.w-0{
    width: 0;
    height: 0;
}
.center_content{
    vertical-align: middle!important;
    margin-left: auto;
    margin-right: auto;
}

//Inicio: Dropdown para: CALENDARIO
#dropdown-button-drop-left{
    color: #3699FF;
    background-color: #E1F0FF;
    border-color: transparent;
    height: calc(1.35em + 1.1rem + 2px);
    width: calc(1.35em + 1.1rem + 2px);
    justify-content: center;
    display: inline-flex;
    i{
        color: #2171c1;
    }
}
// .btn.btn-primary:hover:not(.btn-text), .btn.btn-primary:focus:not(.btn-text), .btn.btn-primary.focus:not(.btn-text) {
//     color: #FFFFFF!important;
//     background-color: #2171c1!important;
//     border-color: transparent;
//     i{
//         color: #E1F0FF!important;
//     }
    
// }
.dropdown-toggle.nav-link:after, .dropdown-toggle.btn:after{
    display:none!important;
}
//Final: Dropdown para: CALENDARIO para: CALENDARIO


.img-calidad {
    @include down-screen($md) { 
        width: 100%;
    margin-top: 2rem;
    height: auto;
}    
    width: 27%;
    height: auto;
}

div#symbol_calidad{
    @include down-screen($md) { 
        display: none;
    }
}
div#partida_calidad, div#tipoT_calidad,div#fecha_calidad{
    @include down-screen($md) { 
        justify-content: start !important;
    }
}


a.dropdown-toggle.nav-link {
    @include down-screen($md) {
        margin-left: 0px!important;
    }
}

a.nav-link {
    @include down-screen($md) {
        margin-left: 0px!important;
    }
}

.pt-65px{
    padding-top: 65px!important;
}


#form-flujo-proyectos{
    @include down-screen($lg){
        text-align: center!important;
    }
}
#id-row{
    @include down-screen($lg){
        display: block!important;
    }
}
#col-calendar{
    @include down-screen($lg){
        flex: none; 
        max-width: none;
    }
}
#col-table{
    @include down-screen($lg){ 
        flex: none; 
        max-width: none;
    }
}
// /presupuesto/conceptos tr select
#kt_datatable_conceptos.dataTable tbody tr.selected {
    color: #ECF0F3 !important;
    background-color: #ECF0F3 !important;
}
table.dataTable.display tbody > tr.selected > .sorting_1{
    background-color:  #ECF0F3!important;
}
.dataTables_wrapper .dataTable tbody tr.selected td{
    background-color:  #ECF0F3 !important;
}

.bg-light-pink{
    background-color: #F9E3F2 !important;
}

.text-pink{
    color: #e44e93 !important;
}

.svg-icon.svg-icon-pink svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #E83E8C !important; }

.svg-icon.svg-icon-pink svg:hover g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease; }

a.text-pink:hover, a.text-pink:focus {
    color: #e6217c !important; 
}

#card-accordion{
    @include screen($md){
        width:500px!important;
    }
    @include screen($lg){
        width:450px!important;
    }
    @include screen($xxl){
        width:600px!important;
    }
}