.sidebar{
    &__container{
        background-color: $dark-blue!important;
        color: $gold;
        min-height: 100vh;
    }
    &__icon{
        color: $l-blue!important;
    }
    &__text{
        color: #fff!important;
    }
}

.subnav{
    background-color: $dark-blue!important;
    &__icon{
        color: #fff!important;
    }
    &__text{
        color: #fff!important;
    }
}

.menu-responsive{
    width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    background-color: #fafafa;
    z-index: 1;
    padding: 1.25rem 2.5rem;
    transform: translateX(-100vw);
    transition: all 0.5s;
    &.expanded{
        transform: translateX(0)!important;
    }
    .menu-item{
        padding: 0.5rem 0px;
        
    }
    svg{
        color: $gold;
    }
    a, span{
        color: $dark-blue;   
    }
}
