.table{
    &__wrap{
        display: block;
        max-width: 99%;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 0.5rem 0px;
    }
    &__container{
        width: 100%;
        border-spacing: 0;
        tbody{
            tr{
                &:not(:last-child){
                    border: solid;
                    border-width: 0 0 0.5px 0;
                    border-color: $dark-blue;
                }
            }
        }
        th{
            background-color: $dark-blue-80;
            color: #fafafa;
            &:not(:first-child):not(:last-child){
                border: solid;
                border-width: 0 2px;
                border-color: $bone;
            }
        }
        td{
            width: auto;
            color: $dark-blue;
            &:first-child{
                width: 1%;
            }
            &.collapse{
                width: 0.0000000001%;
            }
        }
        th, td{
            padding: 0.25rem 1rem;
        }
        tr:nth-child(odd) {background: #F0F0F0}
        tr:nth-child(even) {background: #FFFFFF}
        .logo{
            max-width: 200px;
            height: auto;
        }
    }
}

.hidding-columns{
    &__single{
        margin-top: 1rem;
        display: flex;
        .checkbox{
            padding-right: 1rem;
        }
    }
}

//Facura en 0
.zero{
    background-color: #E8F5E9;
}
//Facura en negativo
.negative{
    background-color: #FFEBEE;
}
