.table{
    &__wrap{
        display: block;
        max-width: 99%;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 0.5rem 0px;
    }
    &__container{
        width: 100%;
        border-spacing: 0;
        th{
            border: solid 1px;
        }
        td{
            border: solid 0.75px;
            width: auto;
            &:first-child{
                width: 1%;
            }
            &.collapse{
                width: 0.0000000001%;
            }
        }
        th, td{
            padding: 0.25rem 1rem;
        }
        .logo{
            max-width: 200px;
            height: auto;
        }
    }
}

.hidding-columns{
    &__single{
        margin-top: 1rem;
        display: flex;
        .checkbox{
            padding-right: 1rem;
        }
    }
}