div#css-2b097c-container-gray{
    .css-1pahdxg-control:hover{
        border-color: #f3f6f9!important; 
    }
    .css-1pahdxg-control{
        border-color:  #f3f6f9!important;
        box-shadow: 0 0 0 0  #f3f6f9!important;
        padding-left: calc(1.5em + 1.3rem + 2px)!important;
    }
    .css-1rhbuit-multiValue{
        background-color: #e5e5e8!important;
        color: #80808F!important;
        margin: 2px 3px!important;
    }
    .css-12jo7m5{
        color: #80808F!important;
        font-weight: 500;
        font-size:13px!important;
        padding:2px .46875em!important;
    }
    .css-xb97g8:hover{
        border-color: #f3f6f9!important; 
        color: #80808F!important;
    }
    .css-yk16xz-control{
        border-radius: 2px!important;
        border-color:  #f3f6f9!important;
        padding-left: calc(1.5em + 1.3rem + 2px)!important;
        height: calc(1.5em + 1.3rem + 2px);
        background-color: #F3F6F9!important;
    }
    .css-1wa3eu0-placeholder{
        color:#B5B5C3 !important;
    }
    .css-1okebmr-indicatorSeparator{
        background-color: #f3f6f9!important;
    }
    .css-tlfecz-indicatorContainer{
        color: #f3f6f9!important;
    }
    .css-1hwfws3{
        padding:2px 0px!important;
        border-color:  #f3f6f9!important;
    }
}