/*  ==============  TIMELINE TICKETS  ==============  */

// COLOR DE TEXTOS
.header-ticket-espera{
    color: #736657;
    background: #f1e8d9;
}
.header-ticket-revision{
    color: #a08a69;
    background: #d7cebf;
}
.header-ticket-aprobacion{
    color: #3da8b6;
    background: #aedbdf;
}
.header-ticket-proceso{
    color: #21c793;
    background: #ade6d4;
}
.header-ticket-pendiente-pago{
    color: #348757;
    background: #abcdbb;
}
.header-ticket-terminado{
    color: #3d5214;
    background: #c5ccb8;
}
.header-ticket-aceptado, .header-ticket-rechazado{
    color: #015c86;
    background: #9ec1cc;
}

// DOT HOVER
.status.dot-espera-ticket:hover:before { 
    box-shadow: 0 0 6px 0 #736657;
}
.status.dot-revision-ticket:hover:before {
    box-shadow: 0 0 6px 0 #a08a69;
}
.status.dot-aprobacion-ticket:hover:before {
    box-shadow: 0 0 6px 0 #3da8b6;
}
.status.dot-proceso-ticket:hover:before {
    box-shadow: 0 0 6px 0 #21c793;
}
.status.dot-pendiente-pago-ticket:hover:before {
    box-shadow: 0 0 6px 0 #348757;
}
.status.dot-terminado-ticket:hover:before {
    box-shadow: 0 0 6px 0 #3d5214;
}
.status.dot-rechazado-ticket:hover:before, .status.dot-aceptado-ticket:hover:before  {
    box-shadow: 0 0 6px 0 #015c86;
}

// TIMELINE ESTATUS
.timeline-estatus {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.li {
    transition: all 200ms ease-in;
    margin-top: 20px;
}

.status {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in;
    white-space: nowrap;
}

.status h4 {
    font-weight: 300;
    font-size: 0.8rem;
    margin-bottom: 0;
    line-height: 2;
    color:#3f4254
}

.status:before {
    content: '✔';
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #ddd;
    position: absolute;
    top: -12px;
    left: 42%;
    transition: all 200ms ease-in;
    display: flex;
    font-size: 1.1rem;
    justify-content: center;
    color: white;
}

// COMPLETE ESTATUS


/*  -----  ESTATUS: EN ESPERA  -----  */
.li.complete_espera .status {
    border-top: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #e4cbad, #a08a69)
}
.li.complete_espera .status:before {
    background-color: #e4cbad;
    border: none;
    transition: all 200ms ease-in;
}
/*  -----  ESTATUS: EN REVISIÓN  -----  */
.li.complete_revision .status {
    border-top: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #a08a69, #015c86);
}
.li.complete_revision .status:before {
    background-color: #a08a69;
    border: none;
    transition: all 200ms ease-in;
}
/*  -----  ESTATUS: ACEPTADO  -----  */
.li.complete_aceptado .status {
    border-top: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #015c86, #3da8b6);
}
.li.complete_aceptado .status:before {
    background-color: #015c86;
    border: none;
    transition: all 200ms ease-in;
}
/*  -----  ESTATUS: RECHAZADO  -----  */
.li.complete_rechazado .status {
    border-top: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #015c86, #3da8b6);
}
.li.complete_rechazado .status:before {
    background-color:  #015c86;
    border: none;
    transition: all 200ms ease-in;
}
/*  -----  ESTATUS: PENDIENTE  -----  */
.li.complete_pendiente .status {
    border-top: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #3da8b6, #21c793);
}
.li.complete_pendiente .status:before {
    background-color: #3da8b6;
    border: none;
    transition: all 200ms ease-in;
}
/*  -----  ESTATUS: EN PROCESO  -----  */
.li.complete_proceso .status {
    border-top: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #21c793, #348757);
}
.li.complete_proceso .status:before {
    background-color: #21c793;
    border: none;
    transition: all 200ms ease-in;
}
/*  -----  ESTATUS: PENDIENTE DE PAGO -----  */
.li.complete_pendiente_pago .status {
    border-top: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #348757, #3d5214);
}
.li.complete_pendiente_pago .status:before {
    background-color: #348757;
    border: none;
    transition: all 200ms ease-in;
}

/*  -----  ESTATUS: TERMINADO-----  */
.li.complete_terminado .status {
    border-top: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #3d5214, #7a792e);
}
.li.complete_terminado .status:before {
    background-color: #3d5214;
    border: none;
    transition: all 200ms ease-in;
}

.li.complete_espera .status h4, .li.complete_revision .status h4, .li.complete_aceptado .status h4, .li.complete_rechazado .status h4, .li.complete_pendiente .status h4 , .li.complete_proceso .status h4,  .li.complete_pendiente_pago .status h4, .li.complete_terminado .status h4 {
    font-weight: 500;
}


/*  ==============  TIMELINE PRESUPUESTO  ==============  */

// COLORES DE TIMELINE
$bg-conceptos-presupuesto:#EFEBE9;
$color-conceptos-presupuesto:#8D6E63;


$bg-volumetrias-presupuesto:#E3F4FC;
$color-volumetrias-presupuesto:#009EF7;


$bg-costos-presupuesto:#EDE7F6;
$color-costos-presupuesto:#BA68C8;


$bg-revision-presupuesto:#FFF7DB;
$color-revision-presupuesto:#F1C40F;


$bg-utilidad-presupuesto:#FFECD7;
$color-utilidad-presupuesto:#FF8B00;


$bg-espera-presupuesto:#ECEFF1;
$color-espera-presupuesto:#78909C;


$bg-aceptado-presupuesto:#E0F2F1;
$color-aceptado-presupuesto:#4DB6AC;


$bg-rechazado-presupuesto:#FFEBEE;
$color-rechazado-presupuesto:#F64E60;


// COLOR DE TEXTOS
.header-presupuesto-conceptos{
    color: #ff8c2c;
    background: #ffe7d4;
}
.header-presupuesto-volumetrias{
    color: #f8bf3a;
    background: #ffefc9;
}
.header-presupuesto-costos{
    color: #B9D13D;
    background: #f5fdcc;
}
.header-presupuesto-revision{
    color:#52d390;
    background: #cbfde4;
}
.header-presupuesto-utilidad{
    color: #27b8c9;
    background: #cdf4fa;
}
.header-presupuesto-espera{
    color: #0b6ca3;
    background: #cfeafa;
}
.header-presupuesto-aceptado, .header-presupuesto-rechazado, .bg-aceptado-rechazado{
    color: #764ca2;
    background: #e8d7fa;
}
.color-rechazado-presupuesto{
    color:#764ca2;
}
.color-aceptado-presupuesto{
    color:#764ca2;
}

// DOT HOVER
.status.dot-conceptos-presupuesto:hover:before { 
    box-shadow: 0 0 6px 0 #ff8c2c;
}
.status.dot-volumetrias-presupuesto:hover:before {
    box-shadow: 0 0 6px 0 #f8bf3a;
}
.status.dot-costos-presupuesto:hover:before {
    box-shadow: 0 0 6px 0 #B9D13D;
}
.status.dot-revision-presupuesto:hover:before {
    box-shadow: 0 0 6px 0 #52d390;
}
.status.dot-utilidad-presupuesto:hover:before {
    box-shadow: 0 0 6px 0 #27b8c9;
}
.status.dot-espera-presupuesto:hover:before {
    box-shadow: 0 0 6px 0 #0b6ca3;
}
.status.dot-aceptado-presupuesto:hover:before, .status.dot-rechazado-presupuesto:hover:before, .status.dot-aceptado-rechazado-presupuesto:hover:before  {
    box-shadow: 0 0 6px 0 #764ca2;
}

// COMPLETE ESTATUS


/*  -----  ESTATUS: CONCEPTOS  -----  */
.li.complete-conceptos .status {
    border-top: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #ff831e, #fdbc3e);
}
.li.complete-conceptos .status:before {
    background-color: #ff8c2c;
    border: none;
    transition: all 200ms ease-in;
}
/*  -----  ESTATUS: VOLUMETRÍAS  -----  */
.li.complete-volumetrias .status {
    border-top: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #fdbc3e, #b9d13d);
}
.li.complete-volumetrias .status:before {
    background-color: #f8bf3a;
    border: none;
    transition: all 200ms ease-in;
}
/*  -----  ESTATUS: COSTOS  -----  */
.li.complete-costos .status {
    border-top: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #bad23f, #52d390)
}
.li.complete-costos .status:before {
    background-color: #B9D13D;
    border: none;
    transition: all 200ms ease-in;
}
/*  -----  ESTATUS: EN REVISIÓN  -----  */
.li.complete-revision .status {
    border-top: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #52d390, #27b8c9);
}
.li.complete-revision .status:before {
    background-color: #52d390;
    border: none;
    transition: all 200ms ease-in;
}
/*  -----  ESTATUS: UTILIDAD  -----  */
.li.complete-utilidad .status {
    border-top: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #27b8c9, #0b6ca3);
}
.li.complete-utilidad .status:before {
    background-color: #27b8c9;
    border: none;
    transition: all 200ms ease-in;
}
/*  -----  ESTATUS: EN ESPERA  -----  */
.li.complete-espera .status {
    border-top: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #0b6ca3, #764ca2);
}
.li.complete-espera .status:before {
    background-color: #0b6ca3;
    border: none;
    transition: all 200ms ease-in;
}
/*  -----  ESTATUS: ACEPTADO Y RECHAZADO-----  */
.li.complete-aceptado .status, .li.complete-rechazado .status, .li.complete-aceptado-rechazado .status {
    border-top: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #764ca2, #653f8c);
}
.li.complete-aceptado .status:before, .li.complete-rechazado .status:before, .li.complete-aceptado-rechazado .status:before {
    background-color: #764ca2;
    border: none;
    transition: all 200ms ease-in;
}

.li.complete-conceptos .status h4,
.li.complete-volumetrias .status h4,
.li.complete-costos .status h4,
.li.complete-revision .status h4,
.li.complete-utilidad .status h4,
.li.complete-espera .status h4,
.li.complete-aceptado .status h4,
.li.complete-rechazado .status h4,
.li.complete-aceptado-rechazado .status h4  {
    font-weight: 500;
}

.ribbon-estatus {
    text-align: center;
    padding: 5px 0;
    width: fit-content;
    letter-spacing: 1.5px;
    font-weight: 800;
    font-size:1rem;
}

.ribbon-tickets{
    background-image: linear-gradient(to right, #015c86, #006a88, #00767f, #00806d, #348757);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ribbon-presupuesto{
    background-image: linear-gradient(to right, #27b8c9, #00a3d0, #008acf, #4e6ec1, #764ca2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




// TIMELINE DASHED

.timeline .timeline-item-dashed {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start
}

.timeline .timeline-line-dashed {
    display: block;
    content: " ";
    justify-content: center;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translate(50%);
    border-left-width: 1px;
    border-left-style: dashed;
    border-left-color: #e4e6ef;
}

.timeline .timeline-icon-dashed {
    z-index: 1;
    flex-shrink: 0;
    margin-right: 1rem
}

.timeline .timeline-content-dashed {
    width: 100%;
    overflow: auto;
    margin-bottom: 1.5rem
}