.title-reporte-ventas{
    color: #535353;
    font-size: 20px;
    font-weight: bold;
    strong{
        color: #D8005A;
        font-size: 30px;
        margin-right: 10px;
    }
}

.text-reporte-ventas{
    margin-top: 0.5rem;
    color: #535353;
    font-size: 15px;
}


.editor-class{
    /* border: 1px solid #F1F1F1 !important; */
    border: 2px solid #F3F6F9!important;
    padding: 2px !important;
    border-radius: 2px !important;
}