.mentions {
    background-color: #F3F6F9;
    &__control{
        font-size: 1rem;
        border: 0;
        background-color: #F3F6F9;
    }
    &__input{
        border: 0;
        resize: vertical!important;
        padding: 0.65rem 1rem;
        outline: 0;
        color: #80808F !important;
        font-weight: 500;
        letter-spacing: 0.3px!important;
        text-align: justify!important;
        position: relative!important;
    }
    &__highlighter{
        border: 0;
        padding: 0.65rem 1rem;
        position: absolute!important;
    }
    &__suggestions{
        background: #fff;
        box-shadow: 0 .0625rem .125rem #464e5f;
        font-size: 1rem;
        overflow: hidden;
        z-index: 2!important;
        overflow-y: scroll;
        height: 200px;
        font-family: 'Poppins';
        line-height: 15px;
        font-weight: 300;
        color: #464E5F;
        &__item{
            padding: 5px 8px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            &__display{
                text-transform: none;
            }
        }
    }   
}

.mentions-white {
    background-color: transparent;
    &__control{
        font-size: 1rem;
        border: 0;
        background-color: transparent;
    }
    &__input{
        border: 0;
        resize: vertical!important;
        padding: 0.65rem 0rem;
        outline: 0;
        color: #B5B5C3 !important;
        font-weight: 600;
        letter-spacing: 0.3px!important;
        text-align: justify!important;
        position: relative!important;
        &::-webkit-input-placeholder {
            color: #B5B5C3!important;
        }
    }
    &__highlighter{
        border: 0;
        padding: 0.65rem 0rem;
        position: absolute!important;
    }
    &__suggestions{
        background: #fff;
        box-shadow: 0 .0625rem .125rem #464e5f;
        font-size: 1rem;
        overflow: hidden;
        z-index: 2!important;
        overflow-y: scroll;
        height: 200px;
        font-family: 'Poppins';
        line-height: 15px;
        font-weight: 300;
        color: #464E5F;
        &__item{
            padding: 5px 8px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            &__display{
                text-transform: none;
            }
        }
    }   
}